.warning-drawer {
    background: rgba(23, 31, 58, 0.8) !important;

    
    .ant-drawer-header {
        padding: 16px 24px 16px 4px;
        .ant-drawer-title {
            color: #ffffff !important;
            font-size: 18px;
            font-weight: 600;
        }

        .ant-drawer-close {
            color: #ffffff !important;

            &:hover {
                color: #00ffff;
            }
        }
    }

    .ant-drawer-body {
        padding: 0px 20px 0 20px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .ant-select-selection-search-input::-webkit-input-placeholder {
        color: #ffffff !important;
    }
}

.ui-container  {
    .ant-drawer-content-wrapper {
        height: 965px;
        position: absolute;
        top: 5%
    }
}

.ant-select-clear {
    border-radius: 50%;
}

.ant-input-affix-wrapper {
    background: rgba(18, 28, 43, 0.8);
    border-radius: 4px;
    border: 1px solid rgba(163, 197, 217, 0.3);
    color: #ffffff;

    .ant-input {
        background: rgba(18, 28, 43, 0.8);
        border: none;
        border-radius: 4px;
        color: #ffffff;
    }

    input::-webkit-input-placeholder {
        /* Chrome, Safari */
        color: #dedada;
    }
}