@use './variables.scss' as *;
@use './global.scss' as *;
@use './measure.scss' as *;
@use './dark-table-theme.scss' as *;
@use './panel-common.scss' as *;
@use './popup-common.scss' as *;


// // 导入 MapboxGL 样式
// @import url('https://api.mapbox.com/mapbox-gl-js/v3.11.0/mapbox-gl.css');

// PC端额外样式
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333;
}

#app {
  width: 100%;
  height: 100%;
}

// Ant Design Vue 自定义主题
:root {
  --ant-primary-color: #409EFF;
  --ant-border-radius-base: 4px;
}

// 常用布局类
.page-container {
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100%;
}

.card-container {
  background-color: #fff;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
